<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXo3cXAn6q39L4WgAV4GQuyeryTt-Jj5I</string>
	<key>GCM_SENDER_ID</key>
	<string>827561195500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Foodplayer</string>
	<key>PROJECT_ID</key>
	<string>my-plate-app-6d2d7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-plate-app-6d2d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827561195500:ios:ebc2d7c34ccf4917b0b2c9</string>
</dict>
</plist>